server {
	listen ${SSL_PORT} ssl;
	root /var/www/wordpress;
	index index.php index.html;

	server_name ${DOMAIN_NAME};

	ssl_certificate /etc/nginx/ssl/inception.crt;
	ssl_certificate_key /etc/nginx/ssl/inception.key;
	ssl_protocols TLSv1.3;
	# lidando com php
	location ~ \.php$ {
		try_files $uri =404;
		fastcgi_pass wordpress:${WP_PORT};
		include fastcgi_params;
		fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
	}
	location / {
		try_files $uri $uri/ /index.php?$args;
	}
}
