services:
  mariadb:
    build:
      context: requirements/mariadb
      dockerfile: Dockerfile
    image: inception-mariadb:1.0.0
    restart: unless-stopped
    env_file:
      - .env
    networks:
      - inception
    volumes:
      - db_volume:/var/lib/mysql
    secrets:
      - db_root_pwd
      - db_user_pwd

  wordpress:
    build:
      context: requirements/wordpress
      dockerfile: Dockerfile
    image: inception-wordpress:1.0.0
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - wp_volume:/var/www/wordpress
    networks:
      - inception
    depends_on:
      - mariadb
    secrets:
      - db_user_pwd
      - wp_adm_pwd
      - wp_user_pwd

  nginx:
    build:
      context: requirements/nginx
      dockerfile: Dockerfile
    image: inception-nginx:1.0.0
    restart: unless-stopped
    ports:
      - "443:443"
    networks:
      - inception
    depends_on:
      - wordpress
    volumes:
      - wp_volume:/var/www/wordpress

networks:
  inception:
    driver: bridge

volumes:
  db_volume:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/nfigueir/data/db

  wp_volume:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/nfigueir/data/wp

secrets:
  db_root_pwd:
    file : ../secrets/db_root_pwd
  db_user_pwd:
    file : ../secrets/db_user_pwd
  wp_adm_pwd:
    file : ../secrets/wp_adm_pwd
  wp_user_pwd:
    file : ../secrets/wp_user_pwd
