services:
  mariadb:
    build:
      context: requirements/mariadb
      dockerfile: Dockerfile
    image: inception-mariadb
    restart: unless-stopped
    env_file:
      - .env
    networks:
      - inception
    volumes:
      - db_volume:/var/lib/mysql

  wordpress:
    build:
      context: requirements/wordpress
      dockerfile: Dockerfile
    image: inception-wordpress
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - wp_volume:/var/www/wordpress
    networks:
      - inception
    depends_on:
      - mariadb

  nginx:
    build:
      context: requirements/nginx
      dockerfile: Dockerfile
    image: inception-nginx
    restart: unless-stopped
    ports:
      - "443:443"
    networks:
      - inception
    depends_on:
      - wordpress
    volumes:
      - wp_volume:/var/www/wordpress

networks:
  inception:
    driver: bridge

volumes:
  db_volume:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/nfigueir/data/db

  wp_volume:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/nfigueir/data/wp
